# Python
__pycache__/
*.pyc
*.pyo
*.log

# Environments
venv/
.env

# Outputs / temp
result/
TempUploads/
temp_cropped_faces/

# Segmind cache
*_segmind_cache.json

# # Big generated media (اختياري لكن أنصحك به)
# *.jpg
# *.jpeg
# *.png
# *.pdf